USE [master]
GO
/****** Object:  Database [WWI_DW]    Script Date: 4/15/2025 12:40:23 AM ******/
CREATE DATABASE [WWI_DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
 --change the filename path to your local path
( NAME = N'WWI_DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WWI_DW.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WWI_DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WWI_DW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WWI_DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WWI_DW]
GO
/****** Object:  Table [dbo].[DimCustomer]    Script Date: 4/15/2025 12:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[WWICustomerID] [int] NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[CustomerCategoryName] [nvarchar](50) NULL,
	[BuyingGroupName] [nvarchar](50) NULL,
	[DeliveryMethodName] [nvarchar](50) NULL,
	[CityName] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[DeliveryAddressLine1] [nvarchar](60) NULL,
	[DeliveryAddressLine2] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 4/15/2025 12:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] NOT NULL,
	[DateValue] [date] NULL,
	[DayNumber] [int] NULL,
	[Day] [nvarchar](10) NULL,
	[Month] [nvarchar](15) NULL,
	[ShortMonth] [char](3) NULL,
	[CalendarMonthNumber] [int] NULL,
	[CalendarYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DateValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPurchasingOrderLine]    Script Date: 4/15/2025 12:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPurchasingOrderLine](
	[PurchasingOrderDimID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[ExpectedDeliveryDate] [date] NOT NULL,
	[DeliveryMethodName] [nvarchar](50) NULL,
	[StockItemID] [int] NOT NULL,
	[PackageTypeName] [int] NOT NULL,
	[OrderOuters] [int] NOT NULL,
	[ReceivedOuters] [int] NOT NULL,
	[ExpectedUnitPrice] [decimal](18, 2) NOT NULL,
	[LastReceiptDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchasingOrderDimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSellingOrderLine]    Script Date: 4/15/2025 12:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSellingOrderLine](
	[SellingOrderKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[ExpectedDeliveryDate] [date] NULL,
	[CustomerPurchaseOrderNumber] [nvarchar](20) NOT NULL,
	[StockItemID] [int] NOT NULL,
	[PackageTypeName] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[PickedQuantity] [int] NOT NULL,
	[PickingCompletedWhen] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SellingOrderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimStockItem]    Script Date: 4/15/2025 12:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimStockItem](
	[StockItemKey] [int] IDENTITY(1,1) NOT NULL,
	[StockItemID] [int] NULL,
	[StockItemName] [nvarchar](100) NULL,
	[Brand] [nvarchar](50) NULL,
	[Size] [nvarchar](20) NULL,
	[Barcode] [nvarchar](50) NULL,
	[UnitPackageName] [nvarchar](50) NULL,
	[OuterPackageName] [nvarchar](50) NULL,
	[IsChillerStock] [bit] NULL,
	[ColorName] [nvarchar](20) NULL,
	[SupplierID] [int] NULL,
	[LeadTimeDays] [int] NULL,
	[QuantityPerOuter] [int] NULL,
	[TaxRate] [decimal](18, 3) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[RecommendedRetailPrice] [decimal](18, 2) NULL,
	[TypicalWeightPerUnit] [decimal](18, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[StockItemKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSupplier]    Script Date: 4/15/2025 12:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSupplier](
	[SupplierKey] [int] IDENTITY(1,1) NOT NULL,
	[WWISupplierID] [int] NULL,
	[SupplierName] [nvarchar](100) NULL,
	[SupplierCategoryName] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[WebsiteURL] [nvarchar](256) NULL,
	[SupplierReference] [nvarchar](20) NULL,
	[PaymentDays] [int] NULL,
	[DeliveryMethodName] [nvarchar](50) NULL,
	[CityName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactInventoryMovement]    Script Date: 4/15/2025 12:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactInventoryMovement](
	[POrderDateKey] [int] NOT NULL,
	[POrderExpectedDelDateKey] [int] NOT NULL,
	[ItemLReceiptDateKey] [int] NOT NULL,
	[StockReceiptDateKey] [int] NOT NULL,
	[SOrderDateKey] [int] NOT NULL,
	[SOrderExpectedDelDateKey] [int] NOT NULL,
	[StockIssueDateKey] [int] NOT NULL,
	[ItemSoldDelDateKey] [int] NOT NULL,
	[StockItemKey] [int] NOT NULL,
	[SellingOrderKey] [int] NOT NULL,
	[PurchasingOrderKey] [int] NOT NULL,
	[CustomerKey] [int] NOT NULL,
	[SupplierKey] [int] NOT NULL,
	[WarehouseTransactionDimID] [int] NOT NULL,
	[QuantityOrdered] [int] NULL,
	[QuantityReceived] [int] NULL,
	[QuantityStored] [int] NULL,
	[QuantityDispatched] [int] NULL,
	[DaysInWarehouse] [int] NULL,
	[LeadTimeDays] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[POrderDateKey] ASC,
	[POrderExpectedDelDateKey] ASC,
	[ItemLReceiptDateKey] ASC,
	[StockReceiptDateKey] ASC,
	[SOrderDateKey] ASC,
	[SOrderExpectedDelDateKey] ASC,
	[StockIssueDateKey] ASC,
	[ItemSoldDelDateKey] ASC,
	[StockItemKey] ASC,
	[SellingOrderKey] ASC,
	[PurchasingOrderKey] ASC,
	[CustomerKey] ASC,
	[SupplierKey] ASC,
	[WarehouseTransactionDimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseTransactionDim]    Script Date: 4/15/2025 12:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseTransactionDim](
	[WarehouseTransactionDimID] [int] IDENTITY(1,1) NOT NULL,
	[WWIStockItemTransactionID] [int] NOT NULL,
	[StockItemID] [int] NOT NULL,
	[TransactionTypeName] [nvarchar](50) NOT NULL,
	[TransactionOccurredWhen] [datetime2](7) NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[CustomerID] [int] NULL,
	[SupplierID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseTransactionDimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactInventoryMovement]  WITH CHECK ADD FOREIGN KEY([CustomerKey])
REFERENCES [dbo].[DimCustomer] ([CustomerKey])
GO
ALTER TABLE [dbo].[FactInventoryMovement]  WITH CHECK ADD FOREIGN KEY([ItemLReceiptDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactInventoryMovement]  WITH CHECK ADD FOREIGN KEY([ItemSoldDelDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactInventoryMovement]  WITH CHECK ADD FOREIGN KEY([POrderDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactInventoryMovement]  WITH CHECK ADD FOREIGN KEY([POrderExpectedDelDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactInventoryMovement]  WITH CHECK ADD FOREIGN KEY([PurchasingOrderKey])
REFERENCES [dbo].[DimPurchasingOrderLine] ([PurchasingOrderDimID])
GO
ALTER TABLE [dbo].[FactInventoryMovement]  WITH CHECK ADD FOREIGN KEY([SellingOrderKey])
REFERENCES [dbo].[DimSellingOrderLine] ([SellingOrderKey])
GO
ALTER TABLE [dbo].[FactInventoryMovement]  WITH CHECK ADD FOREIGN KEY([SOrderDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactInventoryMovement]  WITH CHECK ADD FOREIGN KEY([SOrderExpectedDelDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactInventoryMovement]  WITH CHECK ADD FOREIGN KEY([StockReceiptDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactInventoryMovement]  WITH CHECK ADD FOREIGN KEY([StockIssueDateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactInventoryMovement]  WITH CHECK ADD FOREIGN KEY([StockItemKey])
REFERENCES [dbo].[DimStockItem] ([StockItemKey])
GO
ALTER TABLE [dbo].[FactInventoryMovement]  WITH CHECK ADD FOREIGN KEY([SupplierKey])
REFERENCES [dbo].[DimSupplier] ([SupplierKey])
GO
ALTER TABLE [dbo].[FactInventoryMovement]  WITH CHECK ADD FOREIGN KEY([WarehouseTransactionDimID])
REFERENCES [dbo].[WarehouseTransactionDim] ([WarehouseTransactionDimID])
GO
USE [master]
GO
